body {
     background-color: #F2E34C;
     text-align: center;
     margin: 0;
   }
   form {
     text-align: left;
     max-width: 500px;
     padding:  20px 20px 20px 40px;
     border: 2px solid black;
     border-radius: 20px;
     position: absolute; /* Position relative to the viewport */
     top: 45%; /* Center vertically */
     left: 50%; /* Center horizontally */
     transform: translate(-50%, -50%); /* Offset by half of its width and height */
   }
   .input-element {
     margin: 10px;
     display: flex;
     flex-direction: column;
   }
   input, select {
     padding: 5px;
     border: none;
     border-radius: 7px;
   }
   input[type="checkbox"] {
     width: 20px;
     height: 20px;
   }